/* $sidebar-width: 110px; */
/* $infoArea-width: 390px; */

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 50%;
}

.walkButton {
  position: absolute;
  width: 200px;
  right: 25%;
  top: 40%;
  cursor: pointer;
  color: white;
}

.disabledImage {
  -webkit-filter: grayscale(1); /* Safari 6.0 - 9.0 */
  filter: grayscale(1);
  cursor: default;
}

.sidebar {
  height: 100%;
  width: 110px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 36px;
  background-color: #000;
}

.sidebarItem {
  padding: 24px;
  display: block;
  color: #fff;
}

.infoArea {
  height: 100%;
  width: 390px;
  position: absolute;
  left: 110px;
  top: 0;
  padding: 47px 37px;
  background-color: #fff;
}

.icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  color: #444444;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  cursor: pointer;
}

.groupListItem {
  
}

.groupListItemText {
  
}

.homeInfoCloseButton {
  position: absolute;
  left: 400px;
  top: 30px;
}