@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    color: #444444;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    cursor: pointer;
  }

.menuBar {
    position: fixed;
    width: 360px;
    height: 60px;
    margin: auto;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(47, 47, 47, 0.25);
    border-radius: 30.5px;

    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
}

.iconButtonContainer {
    display: flex;
    align-items: center;
}

.hvrGrow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvrGrow:hover,
.hvrGrow:focus,
.hvrGrow:active {
    transform: scale(1.2);
}

.avatarContainer {
    position: absolute;
    left: 2.5%;
    top: 20%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.chatContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 550px;
    width: 400px;
}

.chatHeader {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 24px;
    height: 10%;
}

.chatName {
    font-size: 24px;
    font-weight: 600;
}

.chatContent {
    height: 75%;
    width: 100%;
}

.chatFooter {
    display: flex;
    flex-wrap: nowrap;
    height: 10%;
}

.chatInputContainer {
    width: 85%;
}
.chatInput {
    width: 100%;
    height: 100%;
    border-width: 0;
    padding: 0 20px;
    border-radius: 0 0 0 8px;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    transition: 0.2s all;
}

.chatInput:hover {
    background-color: #F3F3F3;
}

.chatInput:focus {
    outline: none;
}

.chatButton {
    width: 15%;
    height: 100%;
    background-color: #C4C4C4;
    border-radius: 0 0 8px 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.styledHr {
    margin: 0;
    border: 0;
    height: 0.5px;
    background-color: #C4C4C4;
}

.iconsWhite {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    color: #FFFFFF;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    margin: auto;
}

/* Group list */
.groupListContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.groupListHeader {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 24px;
    height: 10%;
}

.groupListContent {
    height: 75%;
    width: 100%;
}

.groupListItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 24px;
    cursor: pointer;
}

.groupListItem:hover {
    background-color: #F3F3F3;
}

.groupListItemText {
    font-size: 20px;
    font-weight: 600;   
}

.overlayButton {
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 20px;
    position: absolute;
    width: 177px;
    height: 59px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(74, 74, 74, 0.25);
    border-radius: 11px;
    cursor: pointer;
}

/* Tooltip and Alerts */
.tooltip {
    position: fixed;
    width: 447px;
    height: 447px;
    margin: auto;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;   
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(74, 74, 74, 0.25);
    border-radius: 14px;
}

.tooltipHeader {
    position: absolute;
    width: 161px;
    height: 16px;
    left: 143px;
    top: 107px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    display: flex;
    align-items: center;

    color: #0C0C0C;
}

.tooltipParagraph {
    position: absolute;
    width: 250px;
    height: 32px;
    left: 99px;
    top: 135px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #0C0C0C;
}