@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    color: #444444;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    cursor: pointer;
  }

.iconsOnHover {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    color: #BBBBBB;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    cursor: pointer;
}

.menuBar {
    position: absolute;
    width: 360px;
    height: 60px;
    margin: auto;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(47, 47, 47, 0.25);
    border-radius: 30.5px;

    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
}

.iconButtonContainer {
    display: flex;
    align-items: center;
}

.hvrGrow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvrGrow:hover,
.hvrGrow:focus,
.hvrGrow:active {
    transform: scale(1.2);
}